* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Grenze Gotisch", sans-serif;
    height: 100%;
    /* overflow: hidden; */
}
html::-webkit-scrollbar { 
    display: none;
}
h1,h2 {
    font-family: "Fondamento", sans-serif;
}
body {
    animation: colors 5s ease-in-out infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;  

    background: linear-gradient(20deg, #ffdecf, #ba7967, #5e6f64, #3f4441);
    background-size: 200% 200%;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    } 
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#igti {
    transform: translateY(calc(50vh - 50%));
    color: rgba(0, 0, 0, 0.747);
    transition: 2s;
}

.up {
    transform: translateY(0%);
}

#intro{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#intro:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.432);
    transform: translateX(-100%);
    
    animation: enLargeBlock .5s .6s both , revealBlock .5s 1.1s both;
}

@keyframes revealBlock {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes enLargeBlock {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#text {
    text-align: center;
    opacity: 0;
    transition: 1s;
    animation: fadeInText .5s 2s both;
}

.text {
    text-align: center;
    opacity: 0;
    transition: 2s;
    animation: fadeInText .5s 1.1s both;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}

#text {
    cursor: pointer;
}

#text:hover {
    color:rgba(255, 255, 255, 0.527);
    cursor: pointer;
}

.menu ul {
    list-style: none;
    position: relative;  
    text-align: center; 
}
.menu ul ul {
    position: absolute;
    transform: translateX(240%);
    visibility: hidden;
}
.menu ul ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}
.menu ul li:hover ul,
.menu ul li ul:hover {
    visibility: visible;
    position: absolute; 
    transform: translateX(240%);
    text-align: center; 
}
.menu ul ul button {
    font-family: "Grenze Gotisch", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 100ms;
}
.menu ul ul button:hover,
.menu ul ul button:focus {
    outline-style: none;
    color: rgba(255, 255, 255, 0.527);
}

#regradetres,
#rgb {
    max-width: 500px;
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: column;

    justify-content: center;

    transform: translateY(250vh);
    transition: 3s;

    border-radius: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.171);
}

#intvalue {
    max-width: 500px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#intvalue input,
#inputName {
    font-size: 18px;
    width: 80%;
    padding:5px;
    margin: 5px;
    font-family: "Grenze Gotisch", sans-serif;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;

    outline-style: none;
    background-color:rgba(216, 216, 216, 0.678);
}

#inverso {
    margin-right: 5px;
}

#send {
    width: 80px;
    height: 30px;

    font-size: 16px;
    font-family: "Grenze Gotisch", sans-serif;
    align-self: center;
    border: none;
    cursor:pointer;

    outline-style: none;
    background-color:rgb(255, 255, 255, 0.178)
}

#send:hover {
    color: rgba(255, 255, 255, 0.527) ;
    background-color:rgb(255, 255, 255, 0.178) 
}

#rgbBG {
    min-width: 515px;
    padding: 30px;

    transform: translateY(150vh), translateX(0px);
    transition: 3s;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.171);
}

#rgbBG .rgb1,
#rgbBG .rgb2,
#rgbBG .rgb3,
#rgbBG .rgb4 {
    align-self: center;

    max-width: 300px;
    max-height: 100px;
    text-align: center;
    font-size: 14px;
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 5px;
}

#rgbinputgb {
    max-width: 300px;
    flex-direction: row;
    display: flex;
    position: relative;
    align-items: center;
}

#rgbin1,
#rgbin2,
#rgbin3,
#rgbin4 {
    font-size: 10px;
    text-align: center;
    margin: 15px 15px 0px 15px;
    width: 80px;
    height: 80px;
    border-radius: 80%;
    border: transparent
} 

#wichrgb {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: row ;
    justify-content: space-between;
    transform: translateY(250vh);

    transition: 3s;

    border-radius: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.171);
}

#wichrgb button {
    background-color: transparent;
    border: none;
    outline-style: none;
}

#wichrgb h2 {
    color: rgba(0, 0, 0, 0.616);
    cursor: pointer;
}

#wichrgb h2:hover {
    color: rgba(255, 255, 255, 0.527);
    cursor: pointer;
}
#wichrgb h2:focus {
    color: rgba(255, 255, 255, 0.527);
    cursor: pointer;
}

#cadastro {
    min-width: 500px;
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
    transform: translateY(250vh);
    transition: 3s;

    border-radius: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.171);
}

#cadastro #names {
    text-align: left;
    margin-left: 10px;
}
#cadastro #names button {
    margin-right: 5px;
    outline-style: none;
    border: none;
    background: none;
    font-size: 16px;
    color: rgba(160, 15, 15, 0.781);
}

#cadastro #names button:hover {
    color: rgba(102, 91, 91, 0.767); 
}

#cadastro #names ul {
    list-style: none;
}


#rgbinput{
    width: 70px;
    height: 70px;
    border-radius: 80%;
    margin-top: 10px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.705);
}