* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Grenze Gotisch", sans-serif;
    height: 100vh;
    overflow: hidden; 
    box-sizing: border-box;
}
html::-webkit-scrollbar { 
    display: none;
}
#rgbBG,
#wichrgb,
#regradetres,
#rgb,
#cadastro {
    transform: translateY(100vh);
}
h1,h2 {
    font-family: "Fondamento", sans-serif;
}
body {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;  

    background: linear-gradient(20deg, #ffdecf, #ba7967, #5e6f64, #3f4441);
    background-size: 200% 200%;
    background-attachment: fixed;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#igti {
    transform: translateY(50vh);
    color: rgba(0, 0, 0, 0.747);
    transition: 2s;
    background: transparent;
}

#intro{
    background: transparent;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#intro:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.432);
    transform: translateX(-100%);
    
    animation: enLargeBlock .5s .6s both , revealBlock .5s 1.1s both;
}

@keyframes revealBlock {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes enLargeBlock {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.text {
    text-align: center;
    opacity: 0;
    transition: 2s;
    animation: fadeInText .5s 1.1s both;
    background: transparent;
}

#text {
    text-align: center;
    opacity: 0;
    transition: 1s;
    animation: fadeInText .5s 2s both;
    background: transparent;
    cursor: pointer;
}

#text:hover {
    color:rgba(255, 255, 255, 0.527);
    cursor: pointer;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}

.menu ul {
    list-style: none;
    position: relative;  
    text-align: center; 
}
.menu ul ul {
    position: absolute;
    transform: translateX(240%);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.menu ul ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}
.menu ul li:hover ul,
.menu ul li ul:hover {
    visibility: visible;
}
.menu ul ul button {
    font-family: "Grenze Gotisch", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 100ms;
}
.menu ul ul button:hover,
.menu ul ul button:focus {
    outline-style: none;
    color: rgba(255, 255, 255, 0.527);
}

#rgbBG {
    max-width: 500px;
    max-height: 270px;

    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    text-align: center;
    transition: 3s;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.171);
}

#rgbBG h1 {
    width: 500px;
    width: 100%;
}

#rgb1,
#rgb2,
#rgb3,
#rgb4 {
    align-self: center;

    max-height: 100px;
    text-align: center;
    font-size: 14px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;

    margin-top: 10px;
    margin-right: 5px;
}

.rgblab{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-size: 14px;
}   

#rgbinputbg {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}


#rgbin1,
#rgbin2,
#rgbin3,
#rgbin4 {
    font-size: 10px;
    text-align: center;
    margin: 15px 15px 0px 15px;
    width: 70px;
    height: 70px;
    border-radius: 80%;
    border: transparent
} 

#rgbin1{
    background-color: #ffdecf;
}

#rgbin2{
    background-color: #ba7967;
}

#rgbin3{
    background-color: #5e6f64;
}

#rgbin4{
    background-color: #5e6f64;
}

#wichrgb {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: row ;
    justify-content: space-between;

    transition: 3s;

    border-radius: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.171);
}

#wichrgb button {
    background-color: transparent;
    border: none;
    outline-style: none;
}

#wichrgb h2 {
    color: rgba(0, 0, 0, 0.616);
    cursor: pointer;
}

#wichrgb h2:hover {
    color: rgba(255, 255, 255, 0.527);
    cursor: pointer;
}
#wichrgb h2:focus {
    color: rgba(255, 255, 255, 0.527);
    cursor: pointer;
}

#regradetres,
#rgb {
    max-width: 500px;
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: column;

    justify-content: center;

    transition: 3s;

    border-radius: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.171);
}

#intvalue {
    max-width: 500px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#intvalue input,
#inputName {
    font-size: 18px;
    width: 80%;
    padding:5px;
    margin: 5px;
    font-family: "Grenze Gotisch", sans-serif;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;

    outline-style: none;
    background-color:rgba(216, 216, 216, 0.678);
}

#inverso {
    margin-right: 5px;
}

#send,
#random {
    width: 80px;

    font-size: 16px;
    font-family: "Grenze Gotisch", sans-serif;
    align-self: center;
    border: none;
    cursor:pointer;

    outline-style: none;
    background-color:rgb(255, 255, 255, 0.178)
}

#send:hover,
#random:hover {
    color: rgba(255, 255, 255, 0.527) ;
    background-color:rgb(255, 255, 255, 0.178);
    align-self: center;
}


#cadastro {
    min-width: 500px;
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: column;

    transition: 3s;

    border-radius: 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.171);
}

#cadastro #names {
    text-align: left;
    margin-left: 10px;
}
#cadastro #names button {
    margin-right: 5px;
    outline-style: none;
    border: none;
    background: none;
    font-size: 16px;
    color: rgba(160, 15, 15, 0.781);
}

#cadastro #names button:hover {
    color: rgba(102, 91, 91, 0.767); 
}

#cadastro #names ul {
    list-style: none;
}


#rgbinput{
    width: 70px;
    height: 70px;
    border-radius: 80%;
    margin-top: 10px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.705);
}